.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    font-size: 20px !important;
    font-weight: 600 !important;
   
}

.menubar{
    text-align: center;
   line-height: 7;
}
.icons{
    margin-right: 15px; 
}
.btn button{
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    background-color: #5151e8;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

